body{
	background: black;
}
.home{
	padding: 10px;
}
p{
	color: #ffffff;
	margin: 10px;
	font-size: 18px;
	font-family: "Microsoft Sans Serif";
	font-style: italic;
  white-space: pre-wrap;
}
p.header,.content p,p.footer{
	display: inline-block;
	position: relative;
}
p.header{
	color: paleturquoise;
}
p.header{
	color: papayawhip;
}
.content p{
	padding-right: 6px;
	text-indent: 2em;
	word-break: break-all;
	color: green;
	font-family: '微软雅黑';
	line-height: 1.8em;
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(paleturquoise), to(palevioletred));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
p.footer::after{
	content: '';
	clear: both;
}
.inserting::after{
	content: '';
	position: absolute;
	bottom: 0;
	right: -.8em;
	width: .8em;
	height: 2px;
	background-color: #ffffff;
	animation: blink-caret .5s step-end infinite alternate;
}
span.inserting{
	display: inline-block;
	position: relative;
}
@keyframes blink-caret {
	50%{
		background: #000;
	}
}