@keyframes typing {
    from {
        width:0;
    }
}
@keyframes blink-caret {
     50% {
         border-color:transparent;
     }
 }
h1, h2, h3{
    margin: 0 0;
    border-right:.1em solid;
    /* fallback */
    width:10ch;
    /* # of chars */
    white-space:nowrap;
    overflow:hidden;
    animation:typing 1s steps(11,end),/* # of steps = # of chars */
    blink-caret .5s step-end infinite alternate;
}
h1{
    font-size: 48px;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
}
.stage{
    perspective: 750px;
    transform-style: preserve-3d;
    z-index: 1;
    position: relative;
    height: 400px;
}
.content{
    height: 400px;
    background: cornflowerblue;
    background-image: url("../../assets/imgs/today.jpg");
    background-size: cover;
    animation: .5s scaleContent ease;
    animation-delay: 2s;
    text-align: center;
    line-height: 400px;
}
@keyframes scaleContent {
    from {
        transform: translateZ(0);
    }
    to {
        transform: translateZ(-200px);
    }
}
.left,.right,.top,.bottom{
    position: absolute;
    z-index: 2;
}
.left{
    width: 34%;
    height: 100%;
    left: 0;
    top: 0;
    background: black;
    transform-origin: left;
    animation: 1.5s openLeft ease-in-out;
}
.right{
    width: 34%;
    height: 100%;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, .8);
    transform-origin: right;
    animation: 1.5s openRight ease-in-out;
}
.top{
    width: 32%;
    height: 50%;
    left: 50%;
    margin-left: -16%;
    top: 0;
    background: rgba(255, 255, 255, .5);
    transform-origin: top;
    animation: 1.5s openTop ease-in-out;
}
.bottom{
    width: 32%;
    height: 50%;
    left: 50%;
    margin-left: -16%;
    bottom: 0;
    background: rgba(255, 255, 255, .7);
    transform-origin: bottom;
    animation: 1.5s openBottom ease-in-out;
}
@keyframes openLeft {
    form {
        transform: rotateY(-90deg);
    }
    to {
        transform: rotateY(-180deg);
    }
}
@keyframes openRight {
    form {
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY(180deg);
    }
}
@keyframes openTop {
    form {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(180deg);
    }
}
@keyframes openBottom {
    form {
        transform: rotateX(-90deg);
    }
    to {
        transform: rotateX(-180deg);
    }
}